@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import url(//db.onlinewebfonts.com/c/239ee0be558ca5ec0eb835c6abdb859a?family=GANGSTA);
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif, monospace, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: rgb(255, 255, 255);
}
 
a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.scaleAnimation {
    transition: all .2s ease-in;
}
  
.scaleAnimation:hover {
    transform: scale(1.05);
}