@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import url('https://db.onlinewebfonts.com/c/239ee0be558ca5ec0eb835c6abdb859a?family=GANGSTA');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif, monospace, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: rgb(255, 255, 255);
}
 
a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.scaleAnimation {
    transition: all .2s ease-in;
}
  
.scaleAnimation:hover {
    transform: scale(1.05);
}

.upDownAnimation {
    animation: upDown 5s infinite;
}

.upDownAnimation2 {
    animation: upDown2 10s infinite;
}

.upDownAnimation3 {
    animation: upDown3 10s infinite;
}

.upDownAnimation4 {
    animation: upDown4 5s infinite;
}

.rotateAnimation {
    animation: rotate 200s infinite;
}

.rotateAnimation2 {
    animation: rotate2 150s infinite;
}


@keyframes upDown {
    0% { top: 0px; }
    50% { top: -80px; }
    100% { top: 0px; }
}

@keyframes upDown2 {
    0% { top: 250px; }
    50% { top: -50px; }
    100% { top: 250px; }
}

@keyframes upDown3 {
    0% { top: 300px; }
    50% { top: -100px; }
    100% { top: 30px; }
}

@keyframes upDown4 {
    0% { top: 0px; }
    50% { top: -25px; }
    100% { top: 0px; }
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes rotate2 {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0); }
}

.gradientPurple {
    background-image: linear-gradient(45deg, #6135ba, #f211ea);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.recharts-wrapper svg{
    overflow: inherit !important;
}