.card {
    max-width: 1000px;
    width: 100%;
}

.cardContent {
    svg {
        color: rgb(255, 255, 255);
    }
}

.button {
    margin-left: .25em;
    transition: .5s all;
}

.button:hover {
    transform: scale(1.2);
    opacity: 50%;
}

.appsContainer {
    display: flex;
    flex-wrap: wrap;
}