.firstLayout {
    margin-bottom: 4em;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
    align-items:flex-start;
}

.secondLayout {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}