#editor {
    min-height: 100vh;
}

/* Let's highlight canvas boundaries */
#gjs {
    border: none;
}

.gjs-one-bg {
    background-color: rgb(55,66,76);
    font-family: 'Poppins', 'Inter', 'sans-serif';
}

.gjs-four-color,
.gjs-four-color-h:hover {
    color: rgb(52,140,212);
}

.gjs-devices-c {
    padding: 0;
}

.gjs-pn-commands {
    box-shadow: none;
}

.gjs-pn-views {
    border: none;
}

.gjs-pn-views-container {
    box-shadow: none;
}