.previewHeader {
    text-align: center;
    animation: goDown 2s infinite;
    svg {
        color: rgb(61, 61, 61);
    }
}

@keyframes goDown {
    from {
        transform: translateY(35%);
        opacity: 100%;
    }
    to {
        transform: translateY(100%);
        opacity: 20%;
    }
}