@import "button";

$titleColor: rgb(0, 0, 0);

.centerPane {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    header {
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 35%;
        }
        h1 {
            color: $titleColor;
            font-size: 42pt;
            margin: 0;
            text-align: center;
        }
    }
}

#subContainer {
    margin-top: 1em;
}