.mainBG { 
    height: 100vh;
}

.menuToggle {
    display: none;
}

.featureBox {
    width: 365px;
}

.introHeader {
    font-size: 42pt;
}

.introSubHeader {
    font-size: 18pt;
}

.introBtnContainer {
    margin-top: 2em;
    margin-bottom: 2em;
    flex-direction: row;
    width: auto;

    Button {
        width: auto;
    }
}

.introMainContainer {
    height: 100vh;
}

.featuresContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featureBoxStack {
    margin-top: 1em;
    font-weight: 400;
    font-size: 16pt;
}

.featureBox {
    -webkit-box-shadow: 0px .5px 3px 0px #cecece, 0px 4px 5px 0px #e9e9e9; 
    box-shadow: 0px .5px 3px 0px #cecece, 0px 4px 5px 0px #e9e9e9; 
    padding: 4em 2em 4em 2em;
    margin-left: .5em;
    margin-right: .5em;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.featuresSubContainer {
    display: flex;
    flex-wrap: wrap;
}

.featureVertical {
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

.featureHeader {
    margin-bottom: 1.5em;
    font-size: 32pt;
    text-align: center;
}

.pricingContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricingVertical {
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

.pricingHeader {
    margin-bottom: 1em;
    font-size: 32pt;
    text-align: center;
}

.pricingSubContainer {
    display: flex;
    flex-direction: column;
}

.pricingChildContainer {
    flex-wrap: wrap;
}

.pricingBox {
    width: 330px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-left: .5em;
    margin-right: .5em;
    height: 430px;
}

.pricingTitle {
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 1399px) {
    .pricingChildContainer {
        justify-content: center;
    }
}

@media only screen and (max-width: 980px) {
    .menuButtons {
        display: none;
    }
    .menuToggle {
        display: inherit;
    }
}

@media only screen and (max-width: 793px) {
    .featuresContainer {
        width: 100%;
        height: auto;
    }
    .featuresSubContainer {
        flex-direction: column;
        width: 100%;
    }
    .featureVertical {
        width: 100%;
        height: 100%;
    }
    .featureBox {
        width: auto;
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 1em;
    }
    .featureHeader {
        margin-top: 2em;
    }
    .pricingContainer {
        height: auto;
    }
}

@media only screen and (max-width: 708px) {
    .pricingHorizontalContainer {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 691px) {
    .pricingBox {
        width: 100%;
        margin-left: 1em;
        margin-right: 1em;
    }
    .pricingHostContainer {
        width: 100%;
    }
    .pricingHeader {
        margin-top: 1em;
    }
    .pricingHeaderTitle {
        margin-top: 2em;
    }
}

@media only screen and (max-width: 644px) {
    .mainBG {
        padding-top: 5em;
        padding-bottom: 5em;
        padding-left: 1em;
        padding-right: 1em;
    }
}

@media only screen and (max-width: 545px) {
    .mainBG {
        height: auto;
    }
    .introMainContainer {
        height: auto;
    }
    .introHeader {
        font-size: 24pt;
    }
    .introSubHeader {
        font-size: 10pt;
    }
    .introBtnContainer {
        margin-top: .5em;
        margin-bottom: .5em;
        flex-direction: column;
        width: 100%;

        Button {
            width: 100%;
        }
    }
    .introBtnDivider {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .logoTitle {
        display: none;
    }
}