$sidebarIcon: rgb(61, 61, 61);
$sidebarText: rgb(0, 0, 0);

.logo {
    a {
        color:rgb(0, 0, 0);
        width: 100%;
    }
}

@mixin isSelected($selected: false) {
    svg {
        color: $sidebarIcon;
    }
    span {
        color: $sidebarText;
    }
    -webkit-box-shadow: 0px .5px 3px 0px #cecece, 0px 4px 5px 0px #e9e9e9; 
    box-shadow: 0px .5px 3px 0px #cecece, 0px 4px 5px 0px #e9e9e9; 
    border-radius: 5px 5px;
    margin: .5em 0 .5em 0;
    background-color: rgb(255, 255, 255);
    @if $selected {
        border-bottom: 5px solid $sidebarIcon;
    } 
}

.itemSelectedTrue {
    @include isSelected($selected: true);
}

.itemSelectedFalse {
    @include isSelected($selected: false);
}