.websiteContainer {
    margin-top: 1em;
    display: flex;
    background-color: rgb(241, 241, 241);
    padding: 1em;
}

.websiteContainer label:not(:first-child) {
    margin-left: 1em;
}

.websiteProp {
    width: 150px;
    height: 150px;
    background-color: white;
    border: 0;
    border-radius: 15px 15px;
    color: black;
    -webkit-box-shadow: 0px .5px 3px 0px #cecece, 0px 4px 5px 0px #e9e9e9; 
    box-shadow: 0px .5px 3px 0px #cecece, 0px 4px 5px 0px #e9e9e9; 
    transition: 1s all;
}

.websiteProp:hover {
    border: 0;
    opacity: 50%;
}